/*CSS variabler*/
:root {
	--primary: #ddd;
	--dark: #333;
	--darker: #222;
	--light: #fff;
	--accent: #E63600;
	--link: #0078FF;
	--error: #C90000;
	--shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
	--shadowWide: 0 1px 15px rgba(80, 80, 80, 0.8);
	/*--postNumber: 0;*/
}

/*.darken {
	background-color: rgba(0,0,0,0.5);
	position:fixed;
	left:0;
	top: 0;
	width:100%;
	height:100%;
	pointer-events: none;
}*/

html {
    height: 100%;
	box-sizing: border-box;
	font-family: roboto;
	color: black;
}

body {
    height: 100%;
	background: #ccc;
	margin: 20px 0px;
	line-height: 1.4;
}


/*::selection {
    background: var(--accent);
}*/

/*Knapper*/

.btn {
	background-color: var(--dark);
	color: var(--light);
	padding: .6rem .6rem;
	text-decoration: none;
	border: 2px solid var(--dark);
	transition: background-color .2s, color .3s, border-color .3s;
	font-size: 1rem;
}

.btn:hover {
	background-color: var(--light);
	color: var(--dark);
	cursor: pointer;
	border: 2px solid var(--accent);
}

.btn:focus {
	outline: 0;
}
/*Bilder*/
img {
	max-width: 100%;
}
/*Display grid*/
.wrapper, .main-nav ul, .top-container, .top-container-double, .boxes, .group-container, .login-wrapper, .profile-wrapper {
	display: grid;
	grid-gap: 20px;
}

.wrapper {
	margin: 0 auto;
	padding: 0 40px;
	max-width: 1500px;
}

/*Navigasjon*/
.main-nav ul {
	padding: 0;
	margin-bottom: 0;
	list-style: none;
	grid-template-columns: repeat(4, 1fr);
}

.main-nav a {
	background-color: var(--dark);
	display: block;
	text-decoration: none;
	padding: 0.8rem;
	text-align: center;
	color: var(--light);
	text-transform: uppercase;
	font-size: 1.1rem;
	box-shadow: var(--shadow);
	transition: background-color .2s, color .3s;
	border-bottom: 2px solid var(--accent);
}

.main-nav a:hover {
	background-color: var(--light);
	color: var(--dark);
	cursor: pointer;
}

/*Logg inn og registrer*/
.login-wrapper{
	grid-template-columns: repeat(4, 1fr);
}

.login {
	background-color: var(--primary);
	box-shadow: var(--shadow);
	margin: 20px 80px;
	grid-column: 2/4;
}

.login-header {
	background-color: var(--dark);
	color: var(--light);
	padding: 20px;
}

.login .inputContainer{
	margin: 0 20px;
	box-shadow: none;
	background: var(--primary) 
}

.search-index .inputContainer .input, .group-search .inputContainer .input{
	background-color: var(--primary);
}

.login .inputContainer{
	margin
}

.button-wrapper {
	display: flex;
	margin: 0 auto;
}

.button-wrapper .btn{
	margin: 0 5px;
}

.login-header {
	border-bottom: 2px solid var(--accent);
}

.login-header h1{
	font-weight: 500;
	margin: 0 0 10px;
}

.login-header i{
	margin-right: 10px;
	color: var(--accent);
}

.login p{
	margin: 0;
}

.login label{
	margin: 0 20px 5px;
	font-size: 1.2rem;
	font-weight: 600;
}

form {
	display: flex;
	flex: 1;
	flex-direction: column;
}

.login form{
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}

.login form p{
	text-align: center;
	margin: 10px 0 20px;
}

.login form a{
	text-decoration: none;
	color: inherit;
}

.login form a:hover{
	text-decoration: underline;
	color: var(--link);
}

.form-login {
	display: flex;
	flex-direction: column;
}

.form-login span{
	margin: 0 20px;
	font-size: 1rem;
	color: var(--error);
}

.login .help-block {
	margin-bottom: 10px;
}

/*Profil*/

.profile-wrapper {
	grid-template-columns: repeat(4, 1fr);
}

.profile-container {
	grid-column: 2/4;
	background-color: var(--primary);
	box-shadow: var(--shadow);
}

.profile-header {
	display: flex;
	align-items: center;
	background-color: var(--darker);
	border-bottom: 2px solid var(--accent);
}

.profile-header .imgContainer{
	margin: 20px 0 20px 40px;
}

.profile-header h1{
	font-size: 3rem;
	margin: 0 auto;
	color: var(--light);
}

.profile-info {
	padding: 20px;
}

.profile-info .container {
	display: grid;
	grid-template-columns: 2fr 2fr;
	border-bottom: 1px solid var(--dark);
	align-items: center;
}

.profile-info .container .inputContainer{
	box-shadow: none;
	margin-right: 10px;
}

.profile-info .container .inputContainer .input:disabled{
	/*color: black;*/
}

.profile-info .container .inputContainer .input:focus::-webkit-input-placeholder { 
  color:transparent; 
}

.profile-info .container h3, .profile-info .container h4{
	margin: 20px 10px;
	font-weight: normal;
}

.profile-info .container h2{
	margin: 40px 10px 20px;
	font-size: 1.3rem;
	font-weight: 600;
}

/*Topp bilde*/
.top-container {
	grid-template-columns: 1fr;
}

.top-container-double {
	grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
}

.showcase {
	min-height: 250px;
	background-image: url(../Pictures/Tennis.jpg);
	background-size: cover;
	background-position: center;
	padding: 3rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	color: var(--light);
	box-shadow: var(--shadow);
}

/* Sindre fiks width/height plox */
#slider-container{
	position: relative;
	overflow:hidden;
	width:1500px;
	height:300px;
}

.slide{
	position: absolute;
	width:100%;
	height:100%;
	transition:all ease-in-out 500ms;
	-webkit-transition:all ease-in-out 500ms;
	-moz-transition:all ease-in-out 500ms;
	-o-transition:all ease-in-out 500ms;

}

.sliderKnapp{
	width:40px;
	height:40px;
	background-color:black;
	border-radius: 4px;
	position: absolute;
	top:140px;
	z-index: 10;
	opacity: 0.6;
	cursor:pointer;
}

.sliderKnapp:hover{
	opacity:0.9;
}

.knapp-venstre{
	left: 5px;
}

.knapp-hoyre{
	right:5px;
}

#mapContainer {
	display: flex;
	min-height: 250px;
	box-shadow: var(--shadow)
}

.usn{	
	background-position: bottom !important;
	background: url(../Pictures/Usn.jpg);
}

.showcase h1 {
	font-size: 4rem;
	margin: 0;
	color: var(--light);
}

.showcase p {
	font-size: 1.3rem;
	margin-top: 0;
	font-weight: 300;
	color: var(--light);
}

/*Aktivitets Bokser*/

.boxes {
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
}

.box {
	background: var(--primary);
	text-align: center;
	padding: 1.5rem 2rem;
	box-shadow: var(--shadow); 
	/*transition: outline-color .2s;*/
	outline: 1px solid var(--primary);
}

.box p{
	font-weight: 300;
}

.box, .box i{
	transition: outline-color .2s, color .2s;
}

.boxes a {
	text-decoration: none;
	color: var(--dark);
	transition: box-shadow .2s;
}

.box:hover, .boxes a:hover{
	box-shadow: var(--shadowWide);
	outline-color: var(--accent);
	/*background: var(--light);*/
}

.box:hover i{
	color: var(--accent);
	/*background: var(--light);*/
}

/*Søkefelt*/

.inputContainer {
	display: flex;
	flex: 1;
	border: 2px solid var(--dark);
	transition: border-color .3s;
	overflow: hidden;
	box-shadow: var(--shadow)
}

.inputContainer:focus-within {
	border: 2px solid var(--accent);
}

.inputContainer .input{
	flex: 1;
	border: 0;
	padding: .6rem .4rem .5rem;
	font-size: 1rem;
	background-color: var(--light);
	transition: background-color .3s;
}

.inputContainer .input:focus{
	outline: 0;
	background-color: var(--light);
}

.inputContainer i {
	color: var(--light);
	background-color: var(--dark);
	padding: .6rem .8rem;
	transition: background-color .3s;
}

.inputContainer:focus-within i {
	background-color: var(--accent);
}

/*Grupper*/

.group-container {
	grid-template-columns: 1fr 2fr;
}

.group-type {
	display: flex;
	flex-direction: column;
	padding: 20px;
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	background-color: var(--primary);
	box-shadow: var(--shadow);
}

.group-type h2{
	margin: 0 0 20px;
}

.group-image {
	width: 100%;
	height: 100%;
}

.group-image img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.group-search {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

.group-info {
	display: flex;
	flex-direction: column;
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	color: var(--light);
	background-color: var(--dark);
	box-shadow: var(--shadow);
}

.group-info h2{
	font-size: 2rem;
	margin: 0 0 0 10px;
}

.group-info .group-name {
	display: flex;
	align-items: center;
	margin-right: 20px;
}

.group-info .group-name i{
	color: var(--accent);
}

.group-info .group-stats {
	display: flex;
	flex-direction: column;
	padding-left: 20px;
}

.group-info .group-stats:nth-child(3){
	margin-left: 20px;
	border-left: .5px solid var(--accent)
}

.group-info .group-stats h5{
	margin:  0;
	font-size: 1.2rem;
	font-weight: normal;
}

.group-info .group-stats h6{
	margin: 0 ;
	font-size: .8rem;
	font-weight: normal;
}

.group-info .info-wrapper {
	display: flex;
	padding: 20px;
	/*justify-content: space-between;*/
}

.group-info .group-description {
	padding: 20px;
	background-color: var(--light)
}

.group-info .group-description p{
	margin: 0;
	color: black;
}


.group-post {
	grid-column: 2 / 4; 
	grid-row: 1 / var(--postNumber); /* Sett en teller for antall? */
}

.group-post-box {
	display: grid;
	grid-template-columns: 170px 1fr;
	grid-template-areas: 
		"user-container post-container";
	background-color: var(--primary);
	box-shadow: var(--shadow);
	margin-bottom: 20px;
	min-height: 190px;
}

.group-post-box h2, .group-post-box  p{
	margin: 0 0 10px;
}

.group-post-box .user-container {
	grid-area: user-container;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.group-post-box .user-container img{
	grid-area: user-container;
}

.group-post-box .user-container .imgContainer{
	height: 130px;
	width: 130px;
	margin: 0;
	box-shadow: var(--shadow);
	border: 4px solid var(--light);
}

.group-post-box .user-container h4{
	text-align: center;
	font-weight: 500;
	margin: 5px 0;
}

.group-post-box .post-container {
	grid-area: post-container;
	background-color: var(--light);
	padding: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.group-post-box .post-container h4{
	text-align: right;
	font-weight: normal;
	margin: 0 0 0 5px;
}

.group-post-box .post-container h4:nth-child(4){
	margin-left: 5px;
	padding-left: 5px;
	border-left: 1px solid var(--accent)
}

.group-container h2{
	font-weight: 500;
}

.post-stats {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-top: 10px;
}

.post-stats .like-button {
	display: flex;
	align-items: center;
	background-color: var(--primary);
	padding: 8px 15px;
	margin-right: 15px;
	border-radius: 5px;
}

.like-button p {
	margin: 0 0 0 5px;
}

.post-stats a{
	color: inherit;
	text-decoration: none;
	transition: box-shadow .3s;
}

.post-stats a:hover{
	/*background-color: var(--dark)*/
}

.post-stats i{
	padding-right: 3px;
	transition: color .2s;
}

.post-stats a:hover i{
	color: var(--accent);
}

 /*Om oss*/

.aboutUs {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 20px;
}

.personBox {
	display: flex;
	flex-direction: column;
	background: var(--primary);
	box-shadow: var(--shadow); 
	border: 1px solid var(--accent);
	transition: box-shadow .6s, border-color .6s;
	overflow: hidden;
}

.personBox h2{
	text-align: center;
	margin: 0 20px 20px;
	font-weight: 500;
	color: var(--light)
}

.personBox p{
	font-weight: 300;
	margin: 0;
	padding: 20px;
	background-color: var(--light);
	height: 100%;
}

.personBox:hover {
	box-shadow: var(--shadowWide);
}

.personBox:hover .personBox-image-wrapper .imgContainer{
	border-color: var(--accent);
}

.personBox-image-wrapper {
	background-color: var(--dark);
	height: 293px;
}

.imgContainer {
	box-sizing: border-box;
	height: 200px;
	width: 200px;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 50%;
	border:	5px solid var(--light);
	transition: border-color .6s;
}

.imgContainer img{
	height: 100%;
	width: 100%;
	object-fit: cover;
	transition: transform .6s;
}

.personBox:hover .imgContainer img{
  transform: scale(1.08);
}

/*Footer*/
footer {
	display: grid;
	grid-gap: 0px;
	justify-content: center;
	grid-template-columns: repeat(4, minmax(200px, 300px));
	grid-template-areas: 
		"footer-shortcut-container footer-shortcut-container footer-shortcut-container footer-shortcut-container"
		"footer-info footer-info footer-info footer-lang";
	background: var(--darker);
	color: var(--light);
	padding: .7rem 1rem; 
	margin-top: 40px;
	font-weight: 300;
}

footer p{
	margin: 0;
}

.footer-shortcut-container {
	grid-area: footer-shortcut-container;
	display: grid;
	justify-content: center;
	padding: 10px 0 60px;
	grid-template-columns: 
		repeat(auto-fit, minmax(200px, 250px));
}

.footer-shortcut {
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.footer-shortcut a{
	display: flex;
	align-items: center;
	padding: 10px 14px;
	text-decoration: none;
	color: var(--light);
	transition: color .1s;
}

.footer-shortcut a:hover{
	color: #ccc;
}

.footer-shortcut h3{
	margin: 10px 14px 10px;
	padding-bottom: 10px;
	font-size: 1.3rem;
	font-weight: 400;
	text-transform: uppercase;
	border-bottom: 0.5px solid var(--accent);
}

.footer-shortcut p{
	font-size: 1rem;
}

.footer-shortcut img{
	height: 40px;
	width: 40px;
	object-fit: cover;
	margin-right: 10px;
	border-radius: 50px
}

.footer-info {
	grid-area: footer-info;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 10px;
	font-weight: 100;
}

.footer-info a{
	text-decoration: none;
	color: var(--light);
}

.footer-info a:hover{
	text-decoration: underline;
}

.footer-info, .footer-lang {
	padding-top: 10px;
	border-top: .5px solid var(--accent);
}

.footer-lang {
	height: 40px;
	overflow: visible;
	padding-right: .5px;
}

.lang-selector {
	width: 100%;
	background-color: var(--dark);
	display: inline-block;
	overflow: hidden;
	height: 40px;
  	position: relative;
  	top: 0;
  	outline: .5px solid var(--accent);
	transition: all .2s;
}

.lang-selector:hover {
	height: 80px;
  	margin-top: -40px;
  	/*outline-color: var(--primary)*/
}

.lang-selector ul{
	margin: 0;
	padding: 0;
  	position: relative;
  	height:100%;
}

.lang-selector ul>a:first-child{
  	position: absolute; 
  	bottom: 0;
  	width:100%;
  	z-index: 20;
}

.lang-selector li {
	display: flex;
	padding: 0px 15px;
	line-height: 40px;
	transition: background-color .3s;
}

.lang-selector li img {
	height: 20px;
	width: 20px;
	margin: 10px 10px 10px 0;
}

.lang-selector a{
	display: block;
	color: var(--primary);
	text-decoration: none;
  	background-color: var(--dark);
  	z-index:10;
  	transition: background-color .2s, color .2s;
}

.lang-selector a:hover{
  	background-color: var(--darker);
}

@media(max-width: 1100px) {
	footer {
	grid-template-columns: repeat(2, minmax(200px, 1fr));
	}
	.footer-shortcut-container {
	grid-template-columns: repeat(2, minmax(200px, 400px));
	}
	.login {
		margin: 20px 0;
	}
}

@media(max-width: 900px) {
	/*body {
		margin: 20px 40px;
	}*/
	.showcase h1 {
		font-size: 2.5rem;
	}
	.main-nav ul {
		grid-template-columns: 1fr;
	}
	.group-container {
		grid-template-columns: 1fr 1fr;
	}
	.group-type {
	grid-column-start: 1;
	grid-column-end: 2; 
	grid-row-start: 2;
  	grid-row-end: 2;
  	}
	.group-search {
	grid-column-start: 1;
	grid-column-end: 3; 
	grid-row-start: 1;
  	grid-row-end: 2;
  	}
	.group-info {
	grid-column-start: 1;
	grid-column-end: 3; 
	grid-row-start: 2;
  	grid-row-end: 2;
  	}
	.group-post {
	grid-column-start: 1;
	grid-column-end: 3; 
	grid-row-start: 3;
  	grid-row-end: 8;
  	}
}

@media(max-width: 740px) {
	.login {
		grid-column: 1/5;
	}
}

@media(max-width: 550px) {
	footer {
	grid-template-columns: repeat(1, minmax(200px, 1fr));
	}
	.footer-shortcut-container {
	grid-template-columns: repeat(1, minmax(200px, 400px));
	}
}

@media(max-width: 500px) {
	.wrapper {
		padding: 0 20px;
	}
	.group-type {
	grid-column-start: 1;
	grid-column-end: 3; 
	grid-row-start: 2;
  	grid-row-end: 2;
  	}
	.group-info {
	grid-column-start: 1;
	grid-column-end: 3; 
	grid-row-start: 3;
  	grid-row-end: 4;
  	}
	.group-post {
	grid-column-start: 1;
	grid-column-end: 3; 
	grid-row-start: 4;
  	grid-row-end: 100;
  	}
}