/*CSS variabler*/
:root {
	--primary: #ddd;
	--dark: #2e3136;
	--darker: #1c1d1f;
	--lightDark: #4b5058;
	--light: #fff;
	--lightGray: #aaa;
	--accent: #00a1c9;
	--link: #0078FF;
	--error: #C90000;
	--approved: #00B800;
	--shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
	--shadowWide: 0 1px 15px rgba(80, 80, 80, 0.8);
}

html {
    height: 100%;
	box-sizing: border-box;
	font-family: 'Roboto', 'Segoe UI', Tahoma, sans-serif;
	color: black;
}

body {
    height: 100%;
	background: #ccc;
	margin: 20px 0px;
	line-height: 1.4;
}

::selection {
    background: var(--accent);
}

:disabled {
	cursor: not-allowed;
}

/*Knapper*/

.btn {
	background-color: var(--dark);
	color: var(--light);
	padding: .6rem .6rem;
	text-decoration: none;
	border: 2px solid var(--dark);
	transition: 
		background-color .2s ease-out, 
		color .2s ease-out, 
		border-color .2s ease-out;
	font-size: 1rem;
}

.btn:hover {
	background-color: var(--light);
	color: var(--dark);
	cursor: pointer;
	border: 2px solid var(--accent);
}

.btn:focus {
	outline: 0;
}

.btn:disabled{
	color: var(--lightGray);
}

.btn:disabled:hover{
	cursor: not-allowed;
	background-color: var(--dark);
	border-color: var(--dark);
}

/*Bilder*/
img {
	max-width: 100%;
}
/*Display grid*/
.wrapper, .main-nav ul, .top-container, .top-container-double, .boxes, .login-wrapper, .profile-wrapper {
	display: grid;
	grid-gap: 20px;
}

.wrapper {
	margin: 0 auto;
	padding: 0 40px;
	max-width: 1500px;
}

/*Navigasjon*/
.main-nav ul {
	padding: 0;
	margin-bottom: 0;
	list-style: none;
	grid-template-columns: repeat(4, 1fr);
}

.main-nav a {
	background-color: var(--dark);
	display: block;
	text-decoration: none;
	padding: 0.8rem;
	text-align: center;
	color: var(--light);
	text-transform: uppercase;
	font-size: 1.1rem;
	box-shadow: var(--shadow);
	transition: 
		background-color .4s ease-out, 
		border-color .25s;
	border-bottom: 2px solid var(--accent);
}	
.main-nav a i{
	display: none;
}

.main-nav a:hover {
	border-color: var(--light);
	cursor: pointer;
}
.menu {
	display: none;
}

/*Logg inn og registrer*/
.login-wrapper{
	grid-template-columns: repeat(4, 1fr);
}

.login {
	background-color: var(--primary);
	box-shadow: var(--shadow);
	margin: 20px 80px;
	grid-column: 2/4;
}

.login-header {
	background-color: var(--dark);
	color: var(--light);
	padding: 20px;
}

.login .inputContainer{
	margin: 0 20px;
	box-shadow: none;
	background: var(--primary) 
}

.search-index .inputContainer .input, .group-search .inputContainer .input{
	background-color: var(--primary);
}

.button-wrapper {
	display: flex;
	margin: 0 auto;
}

.button-wrapper .btn{
	margin: 0 5px;
}

.login-header {
	border-bottom: 2px solid var(--accent);
}

.login-header h1{
	font-weight: 500;
	margin: 0 0 10px;
}

.login-header i{
	margin-right: 10px;
	color: var(--accent);
}

.login p{
	margin: 0;
}

.login label{
	margin: 0 20px 5px;
	font-size: 1.2rem;
	font-weight: 600;
}

form {
	display: flex;
	flex: 1;
	flex-direction: column;
}

.login form{
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}

.login form p{
	text-align: center;
	margin: 10px 0 20px;
}

.login form a{
	text-decoration: none;
	color: inherit;
}

.login form a:hover{
	text-decoration: underline;
	color: var(--link);
}

.form-login {
	display: flex;
	flex-direction: column;
}

.form-login span{
	margin: 0 20px;
	font-size: 1rem;
	color: var(--error);
}

.login .help-block {
	margin-bottom: 10px;
}

/*Profil*/

.profile-wrapper {
	grid-template-columns: repeat(4, 1fr);
}

.profile-container {
	grid-column: 1/5;
	margin: 0 200px;
	background-color: var(--primary);
	box-shadow: var(--shadow);
}

.profile-header {
	display: flex;
	align-items: center;
	background-color: var(--darker);
	border-bottom: 2px solid var(--accent);
}

.profile-header .imgContainer{
	margin: 20px 0 20px 30px;
	position: relative;
	overflow: visible;
}

.profile-header .imgContainer img{
	border-radius: 50%;
}

.profile-header .img-upload input{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.profile-header .img-upload label{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	color: var(--light);
	font-size: 1.2rem;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0);
	transition: background-color .2s ease-out, opacity .2s ease-in-out;
}

.profile-header .img-upload form{
	height: 100%;
}

.profile-header .img-upload label:hover{
	background-color: rgba(0, 0, 0, 0.541);
	cursor: pointer;
	opacity: 1;
}

.profile-header h1{
	font-size: 3rem;
	margin: 0;
	margin-left: 40px;
	color: var(--light);
}

.profile-info {
	padding: 20px;
}

.profile-info .container {
	display: grid;
	grid-template-columns: 2fr 2fr;
	border-bottom: 1px solid var(--dark);
	align-items: center;
}

.profile-info .container:last-child {
	border-bottom: none;
}

.profile-info .container .inputContainer{
	box-shadow: none;
	margin-right: 10px;
}

.profile-info .container .inputContainer .input:focus::-webkit-input-placeholder { 
	color:transparent; 
}

.profile-info .container h3, .profile-info .container h4{
	margin: 20px 10px;
	font-weight: normal;
}

.profile-info .container h2{
	margin: 40px 10px 20px;
	font-size: 1.3rem;
	font-weight: 600;
}

.profile-info .button-wrapper {
	justify-content: center;
	margin-top: 20px;
}

/*Topp bilde*/
.top-container {
	grid-template-columns: 1fr;
}

.top-container-double {
	grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
}

.showcase {
	min-height: 250px;
	background-image: url(../Pictures/Tennis.jpg);
	background-size: cover;
	background-position: center;
	padding: 3rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	color: var(--light);
	box-shadow: var(--shadow);
}

#mapContainer {
	display: flex;
	min-height: 250px;
	box-shadow: var(--shadow)
}

.usn{	
	background-position: bottom !important;
	background: url(../Pictures/Usn.jpg);
}

.showcase h1 {
	font-size: 4rem;
	margin: 0;
	color: var(--light);
}

.showcase p {
	font-size: 1.3rem;
	margin-top: 0;
	font-weight: 300;
	color: var(--light);
}

/*Aktivitets Bokser*/

.boxes {
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
}

.box {
	background: var(--primary);
	text-align: center;
	padding: 1.5rem 2rem;
	box-shadow: var(--shadow); 
	/*transition: outline-color .2s;*/
	outline: 1px solid var(--primary);
}

.box p{
	font-weight: 300;
}

.box, .box i{
	transition: outline-color .2s, color .2s;
}

.boxes a {
	text-decoration: none;
	color: var(--dark);
	transition: box-shadow .2s;
}

.box:hover, .boxes a:hover{
	box-shadow: var(--shadowWide);
	outline-color: var(--accent);
	/*background: var(--light);*/
}

.box:hover i{
	color: var(--accent);
	/*background: var(--light);*/
}

/*Søkefelt*/

/*Fjern gulfarge når autofill brukes*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
	-webkit-box-shadow: 0 0 0 30px white inset !important;
	box-shadow: 0 0 0 30px white inset !important;
}

.inputContainer {
	display: flex;
	flex: 1;
	border: 2px solid var(--dark);
	transition: border-color .3s;
	overflow: hidden;
	box-shadow: var(--shadow);
	position: relative;
}

.inputContainer:focus-within {
	border: 2px solid var(--accent);
}

.inputContainer .input{
	flex: 1;
	border: 0;
	padding: .6rem .4rem .5rem;
	font-size: 1rem;
	background-color: var(--light);
	transition: background-color .3s;
}

.inputContainer .input:focus{
	outline: 0;
	background-color: var(--light);
}

.input:disabled {
	cursor: not-allowed;
}

.inputContainer i {
	color: var(--light);
	background-color: var(--dark);
	padding: 9px 12px;
	transition: background-color .3s;
}

.inputContainer:focus-within i {
	background-color: var(--accent);
}

.inputContainer .input-error  {
	display: flex;
	position: absolute;
	right: -40px;
	color: var(--error);
	background-color: var(--light);
	padding: 9px 18px;
	transition: right .3s ease-out;
	pointer-events: none;
}

.inputContainer:focus-within .input-error {
	background-color: transparent;
}

.inputContainer .input-approved  {
	display: flex;
	position: absolute;
	right: -40px;
	color: var(--approved);
	background-color: var(--light);
	transition: right .3s ease-out;
	pointer-events: none;
	background-color: transparent;
}

.inputContainer:focus-within .input-approved {
	background-color: transparent;
}

/*Grupper*/

.group-container h2{
	font-weight: 500;
}

.group-info-wrapper {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-areas: 
		"group-info group-post-creator group-post-creator group-post-creator";
	grid-gap: 20px;
	/* max-width: 500px; */
}

.group-search {
	margin: 0 0 20px;
}

.group-info {
	grid-area: group-info;
	display: flex;
	flex-direction: column;
	/* width: 24%; */
	/* margin-right: 20px; */
	color: var(--light);
	background-color: var(--light);
	box-shadow: var(--shadow);
}

.group-info h2{
	font-size: 2rem;
	margin: 0 0 0 10px;
}

.group-info .group-name {
	display: flex;
	align-items: center;
	margin-right: 20px;
	padding-bottom: 20px;
}

.group-info .group-name i{
	color: var(--accent);
}

.group-info .group-stats-wrapper{
	display: flex;
	flex-direction: row;
	padding-top: 20px;
	width: 100%;
	justify-content: space-around;
	border-top: .5px solid var(--accent);
}

.group-info .group-stats {
	display: flex;
	flex-direction: column;
}

.group-info .group-stats:nth-child(2){
	margin-left: 10px;
	padding-left: 10px;
	/* border-left: .5px solid var(--accent); */
}

.group-info .group-stats h5{
	margin:  0;
	font-size: 1.2rem;
	font-weight: normal;
}

.group-info .group-stats h6{
	margin: 0 ;
	font-size: .8rem;
	font-weight: normal;
}

.group-info .info-wrapper {
	display: flex;
	flex-direction: column;
	background-color: var(--dark);
	padding: 20px;
	min-height: 50px;
	align-items: center;
}

.group-info .group-description {
	padding: 20px;
	background-color: var(--light)
}

.group-info .group-description p{
	margin: 0;
	height: 100%;
	color: black;
}

.group-post-creator-wrapper {
	grid-area: group-post-creator;
	background-color: var(--light);
	box-shadow: var(--shadow);
	color: var(--light);
	margin: 0;
}

.post-input-header {
	display: flex;
	align-items: center;
	min-height: 50px;
	padding: 20px;
	background-color: var(--dark)
}

.post-input-header h2 {
	margin: 0px;
	font-size: 2rem;
}

.post-input-header i {
	margin-right: 10px;
	color: var(--accent);
}

.form-input {
	flex-direction: column;
	padding: 20px;
}

.form-input input, .form-input textarea {
	background-color: var(--light);
	border: 1px solid var(--lightGray);
	border-radius: 5px;
	color: black;
	font-size: 1rem;
	padding: 10px;
	outline: none;
	transition: border-color .3s ease-out, box-shadow .3s ease-out;
}

.form-input input {
	border-color: var(--lightDark);
	margin-bottom: 10px;
}

.form-input textarea {
	height: 80px;
	font-family: inherit;
	line-height: 1.4;
	resize: none;
}

.form-input .btn {
	border-radius: 5px;
}

.form-input input:focus, .form-input textarea:focus {
	border-color: var(--accent);
	background-color: var(--light);
	color: black;
	box-shadow: inset 0px 0px 0px 1px var(--accent);
}

.form-input input::placeholder, .form-input textarea::placeholder {
	color: black;
}

.form-input input:focus::placeholder, .form-input textarea:focus::placeholder {
	color: var(--lightGray);
}

textarea::-webkit-scrollbar, .comment-container::-webkit-scrollbar {
	width: 10px;
}

textarea::-webkit-scrollbar-track, .comment-container::-webkit-scrollbar-track {
	background: var(--light);
}

.comment-container::-webkit-scrollbar-track {
	border-left: 1px solid var(--lightGray);
}

textarea::-webkit-scrollbar-thumb, .comment-container::-webkit-scrollbar-thumb {
	background: var(--primary);
}

textarea::-webkit-scrollbar-thumb:hover, .comment-container::-webkit-scrollbar-thumb:hover {
	background: var(--dark);
}

.form-input h5 {
	margin: 0;
	color: black;
	font-weight: normal;
}

.post-submit-container {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

.group-post-wrapper {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;
	flex-direction: column;
}

.group-post {
	grid-column: 2/5;
}

.group-post .btn{
	margin: 0 auto;
}

.group-post-box {
	display: grid;
	grid-template-columns: 140px 1fr;
	grid-template-areas:
		"user-container post-container"
		"comment-container comment-container";
	background-color: var(--primary);
	box-shadow: var(--shadow);
	margin-bottom: 20px;
}

.group-post-box h2, .group-post-box  p{
	margin: 0 0 10px;
}

.group-post-box h4{
	text-align: right;
	font-weight: normal;
	margin: 0 0 0 5px;
}

.group-post-box .user-container {
	grid-area: user-container;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 190px;
}

.group-post-box .user-container img{
	grid-area: user-container;
}

.group-post-box .user-container h4{
	text-align: center;
	font-weight: 500;
	margin: 5px 0;
}

.group-post-box .user-container .imgContainer{
	height: 110px;
	width: 110px;
	margin: 0;
	box-shadow: var(--shadow);
	border: 4px solid var(--light);
}


.group-post-box .post-container {
	grid-area: post-container;
	background-color: var(--light);
	padding: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.group-post-box .comment-container {
	background-color: var(--primary);
	grid-area: comment-container;
}

.comment-toggle {
	display: none;
}

.group-post-box .comment-submit-container {
	display: grid;
	grid-template-columns: 90px 1fr;
	grid-template-areas:
		"user-container-comment input-content";
	background-color: var(--light);
	min-height: 70px;
	border-top: 1px solid var(--lightGray);
}

.group-post-box .inputContainer {
	grid-area: input-content;
	background-color: var(--primary);
	margin: 15px 15px 15px 0px;
	box-shadow: none;
	border: none;
	border-radius: 5px;
}

.group-post-box .inputContainer .btn {
	margin-left: 10px;
	border-radius: 5px;
}

.group-post-box .comment-submit-container form{
	background-color: var(--primary);
}

.group-post-box .inputContainer .input{
	resize: none;
	font-family: inherit;
	border: 1px solid var(--lightGray);
	border-radius: 5px;
	transition: border-color .3s ease-out, box-shadow .3s ease-out;
}

.group-post-box .inputContainer .input:focus::placeholder{
	color: var(--lightGray);
}

.group-post-box .inputContainer .input:focus{
	border-color: var(--accent);
	box-shadow: inset 0px 0px 0px 1px var(--accent);
}

.group-post-box .post-comment {
	display: grid;
	grid-template-columns: 140px 1fr;
	grid-template-areas:
		"user-container-comment comment-content";
	align-items: center;
}

.group-post-box .post-comment h3{
	margin: 10px 15px 0;
	font-size: 1.1rem;
	font-weight: 500;
}

.group-post-box .post-comment{
	border-top: 1px solid var(--lightGray);
}

.group-post-box .comment-content{
	grid-area: comment-content;
	width: 100%;
	background-color: var(--light);
}

.group-post-box .comment-content p{
	margin: 5px 15px 10px;
}

.group-post-box .comment-content p:last-child{
	text-align: right;
}

.group-post-box .comment-container .user-container-comment{
	grid-area: user-container-comment;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	background-color: var(--primary);
	box-shadow: inset 0px 0 0px 0px var(--accent);
	transition: box-shadow .3s ease-in-out;
}

.group-post-box .comment-submit-container .user-container-comment {
	grid-template-columns: 1fr;
}

.group-post-box .comment-container .user-container-comment .comment-vote {
	display: flex;
	height: 100%;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.new-comment{
	box-shadow: inset 8px 0 0px 0px var(--accent) !important;
}

.group-post-box .comment-container .user-container-comment .comment-vote p{
	margin: 2px 0;
}

.group-post-box .comment-container .user-container-comment .comment-vote a{
	display: inline-block;
	text-align: center;
	color: black;
	width: 20px;
	height: 20px;
	border-radius: 4px;
}

.group-post-box .comment-container .user-container-comment .comment-vote i{
	transition: color .1s ease-out, transform .1s ease-out;
}

.group-post-box .comment-container .user-container-comment .comment-vote a:hover i{
	color: var(--accent);
}

.group-post-box .comment-container .user-container-comment .comment-vote a:nth-child(3):hover i{
	color: var(--error);
}

.group-post-box .comment-container .imgContainer {
	width: 50px;
	height: 50px;
	margin: 0 0px 0 20px;
	border-width: 3px;
	box-shadow: var(--shadow);
}

.group-post-box .comment-submit-container .imgContainer {
	margin: 0 auto;
}

.group-post-box .post-stats {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-top: 10px;
}

.group-post-box .post-stats p{
	margin: 0 5px;
}

.group-post-box .post-stats a{
	display: flex;
	align-items: center;
	padding: 8px 10px;
	color: inherit;
	text-decoration: none;
	transition: background-color .1s ease-out, color .1s ease-out;
	border-radius: 5px;
}

.group-post-box .post-stats .like-button i{
	transition: color .1s ease-out, transform .1s ease-out;
	font-size: 1.2rem;
}

.group-post-box .post-stats div {
	display: flex;
	align-items: center;
}

.group-post-box .post-stats h4:nth-child(2){
	margin-left: 10px;
	padding-left: 10px;
	border-left: 1px solid var(--accent)
}

.group-post-box .post-stats h4:nth-child(3){
	margin-left: 10px;
	padding: 8px 0px 8px 10px;
	border-left: 1px solid var(--accent)
}

.group-post-box .post-stats .like-button p {
	margin: 0 10px;
}

.group-post-box .post-stats .like-button:nth-child(1) {
	margin: 0 4px 0 0;
}

.group-post-box .post-stats .like-button:nth-child(3) {
	margin: 0 0 0 4px;
}

.group-post-box .post-stats a:hover {
	background-color: var(--primary);
}

.group-post-box .post-stats .like-button:hover {
	background-color: var(--light);
}

.group-post-box .post-stats .like-button:nth-child(1):hover i{
	color: var(--accent);
}

.group-post-box .post-stats .like-button:nth-child(1):active i, .group-post-box .comment-container .user-container-comment .comment-vote a:active i{
	transform: translateY(-2px);
}

.group-post-box .post-stats .like-button:nth-child(3):hover i{
	color: var(--error);
}

.group-post-box .post-stats .like-button:nth-child(3):active i, .group-post-box .comment-container .user-container-comment .comment-vote a:nth-child(3):active i{
	transform: translateY(2px);
}

 /*Om oss*/

.aboutUs {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 20px;
}

.personBox {
	display: flex;
	flex-direction: column;
	background: var(--primary);
	box-shadow: var(--shadow);
	border: 1px solid var(--accent);
	transition: box-shadow .6s, border-color .6s;
	overflow: hidden;
}

.personBox h2{
	text-align: center;
	margin: 0 20px 20px;
	font-weight: 500;
	color: var(--light)
}

.personBox p{
	font-weight: 300;
	margin: 0;
	padding: 20px;
	background-color: var(--light);
	height: 100%;
}

.personBox:hover {
	box-shadow: var(--shadowWide);
}

.personBox:hover .personBox-image-wrapper .imgContainer{
	border-color: var(--accent);
}

.personBox-image-wrapper {
	background-color: var(--darker);
	height: 293px;
}

.imgContainer {
	box-sizing: border-box;
	height: 200px;
	width: 200px;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 50%;
	border:	5px solid var(--light);
	transition: border-color .6s;
}

.imgContainer img{
	height: 100%;
	width: 100%;
	object-fit: cover;
	transition: transform .6s;
}

.personBox:hover .imgContainer img{
  transform: scale(1.08);
}

/*404*/

.error{
	height: 100%;
}

.error-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.error-wrapper h1{
	font-weight: 500;
	font-size: 110px;
	margin: 0 0 20px;
	color: var(--light);
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: var(--dark);
	/* transition: all .1s; */
}

.error-wrapper h1:hover{
	color: var(--dark);
	-webkit-text-stroke-color: var(--light);
}

.error-wrapper p{
	font-size: 1.1rem;
	margin: 0 0 10px;
	transition: word-spacing .5s cubic-bezier(0.1, 0.1, 0.2, 1.2);
}

.error-wrapper p:hover{
	word-spacing: 100px;
}

.error-wrapper .btn{
	margin: 10px auto 0;
}

.error-wrapper div{
	text-align: center;
}

.error-wrapper img{
	margin-bottom: 40px;
	width: 280px;;
	animation-name: spin;
	animation-timing-function: cubic-bezier(0.15, 0.2, 0.3, 1.1);
	animation-duration: 4s;
	animation-delay: .25s;
	animation-iteration-count: infinite
}

@keyframes spin {
	0% {transform: rotate(0deg)}
	20% {transform: rotate(-10deg)}
	/* 20% {transform: rotate(-10deg)} */
	70% {transform: rotate(360deg)}
	100% {transform: rotate(360deg)}
}

/*Footer*/
footer {
	display: grid;
	grid-gap: 0px;
	justify-content: center;
	grid-template-columns: repeat(4, minmax(200px, 300px));
	grid-template-areas:
		"footer-shortcut-container footer-shortcut-container footer-shortcut-container footer-shortcut-container"
		"footer-info footer-info footer-info footer-info";
	background: var(--darker);
	color: var(--light);
	padding: .7rem 1rem;
	margin-top: 40px;
	font-weight: 300;
}

footer p{
	margin: 0;
}

.footer-shortcut-container {
	grid-area: footer-shortcut-container;
	display: grid;
	justify-content: center;
	padding: 10px 0 60px;
	grid-template-columns:
		repeat(auto-fit, minmax(200px, 250px));
}

.footer-shortcut {
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.footer-shortcut a{
	display: flex;
	align-items: center;
	padding: 10px 14px;
	text-decoration: none;
	color: var(--light);
	transition: color .15s ease-out;
}

.footer-shortcut a:hover{
	color: #ccc;
}

.footer-shortcut h3{
	margin: 10px 14px 10px;
	padding-bottom: 10px;
	font-size: 1.3rem;
	font-weight: 400;
	text-transform: uppercase;
	border-bottom: 0.5px solid var(--accent);
}

.footer-shortcut p{
	font-size: 1rem;
}

.footer-shortcut img{
	height: 40px;
	width: 40px;
	object-fit: cover;
	margin-right: 10px;
	border-radius: 50px
}

.footer-info {
	grid-area: footer-info;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: 100;
}

.footer-info a{
	text-decoration: none;
	color: var(--light);
}

.footer-info {
	padding-top: 10px;
	border-top: .5px solid var(--accent);
}

.footer-copy {
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin-right: 20px;
}

.footer-copy i{
	margin-right: 5px;
	transition: color .2s ease-out;
}

.footer-copy a:hover i{
	color: var(--accent)
}

.footer-lang {
	display: flex;
	justify-content: space-between;
	overflow: visible;
}

.footer-lang img{
	border-radius: 50%;
	border: 2px solid transparent;
	transition: border-color .2s ease-out;
	width: 30px;
}

.footer-lang a {
	display: flex;
	align-items: center;
	border-radius: 50%;
}

.footer-lang a:first-child {
	margin-right: 10px;
}

.footer-lang a:hover img{
	border-color: var(--accent)
}

/*Til topp knapp og meldingsboks*/
.toTop {
	position: fixed;
	right: -53px;
	bottom: 20px;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	overflow: hidden;
	font-size: 1.3rem;
	text-align: center;
	color: white;
	background-color: var(--dark);
	border: 1px solid var(--accent);
	box-shadow: var(--shadow);
	cursor: pointer;
	transition: right .3s , bottom .3s;
	transition-timing-function: cubic-bezier(0.41, 0.74, 0.47, 1.35)
}

.show-toTop {
	right: 20px;
}

.toTop i{
	padding: 15px 0;
	transition: color .2s ease-out;
}

.toTop:hover i{
	color: var(--accent);
}

.tooltip {
	position: fixed;
	display: flex;
	align-items: center;
	flex-direction: row;
	bottom: -56px;
	left: 50%;
	width: 350px;
	height: 45px;
	margin-left: -175px;
	background-color: var(--dark);
	box-shadow: var(--shadow);
	border: 1px solid var(--accent);
	border-radius: 6px;
	transform: scale(.9);
	transition: bottom .45s, transform .45s;
	transition-timing-function: cubic-bezier(0.41, 0.64, 0.37, 1.5);
}

.tooltip a{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--accent);
	/* border-right: 1px solid var(--accent); */
	border-radius: 4px 0 0 4px;
	height: 100%;
	width: 10px;
	text-decoration: none;
	color: var(--darker);
	transition: width .25s, background-color .25s, color .25s;
	transition-timing-function: ease-in-out;
}

.tooltip:hover a{
	width: 25px;
	/* background-color: var(--darker); */
}

.tooltip:hover a i{
	opacity: 1;
}

.tooltip a:hover{
	color: var(--light);
}

.tooltip a i{
	position: absolute;
	top: 14px;
	left: 7.5px;
	opacity: 0;
	transition: opacity .2s;
}

.tooltip .fas:nth-child(2) {
	font-size: 1.5rem;
	padding-left: 7px;
	color: var(--accent);
}

.tooltip p{
	max-width: 240px;
	min-width: 230px;
	margin: 0 0 0 7px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: var(--light);
}

.tooltip-show {
	bottom: 15px;
	transform: scale(1);
}

/*Responsivt design*/

@media(max-width: 1350px) {
	.profile-container {
		grid-column: 1/5;
		margin: 0 150px;
	}
}

@media(max-width: 1100px) {
	footer {
	grid-template-columns: repeat(2, minmax(200px, 1fr));
	}
	.footer-shortcut-container {
	grid-template-columns: repeat(2, minmax(200px, 400px));
	}
	.login {
		margin: 20px 0;
	}
	.profile-container {
		margin: 0 100px;
	}
	.profile-header h1 {
		margin-left: 20px;
	}
	.group-container {
		flex-direction: column;
	}
	.group-info-wrapper {
		grid-template-areas: 
			"group-info group-info group-post-creator group-post-creator"
	}
	.group-post {
		grid-column: 1/5;
	}
	.error-wrapper {
		margin: 20px 0;
		grid-gap: 20px;
	}
	.error-wrapper h1{
		font-size: 10vw;
	}
}

@media(max-width: 900px) {
	body {
		margin-top: 5px;
	}
	.wrapper {
		padding: 0 25px;
	}
	.showcase {
		min-height: 150px;
	}
	.showcase h1 {
		font-size: 2.5rem;
	}
	.showcase p {
		font-size: 1.1rem;
	}
	.profile-container {
		margin: 0;
	}
	.profile-header {
		flex-direction: column;
	}
	.profile-header .imgContainer {
		margin: 20px;
	}
	.profile-header h1 {
		margin: 0 0 20px;
	}
	.group-info-wrapper {
		flex-direction: column;
	}
	.group-post-creator-wrapper {
		width: 100%;
	}
	.menu {
		display: block;
	}
	.menyToggle-darker {
		background-color: var(--darker) !important;
	}
	.main-nav ul {
		grid-template-columns: 1fr;
		grid-gap: 0px;
		overflow: hidden;
		height: 48px;
		transition: height .4s ease-in-out;
		position: relative;
		box-shadow: var(--shadow);
	}
	.main-nav li:not(:first-child){
		position: relative;
	}
	.main-nav a {
		border-bottom: 0;
		padding: 12px 14px;
		box-shadow: none;
		text-align: left;
		border-left: 2px solid var(--accent);
		transition: background-color .25s ease-in-out,
	}
	.main-nav a::before {
		position: absolute;
		content: "";
		left: 0;
		top: 0;
		bottom: 0;
		width: 0px;
		background-color: var(--accent);
		transition: width .2s ease-out;
	}
	.main-nav li:first-child a {
		border-bottom: 1px solid;
		border-color: var(--accent);
		box-shadow: none;
		text-align: center;
	}
	.main-nav li:first-child a:hover::before {
		width: 0px;
	}
	.main-nav a:hover::before {
		width: 5px;
	}
	.main-nav a i{
		display: inline-block;
		margin-right: 5px;
		width: 20px;
		text-align: center;
		transition: color .2s ease-out;
	}
	.main-nav li:hover i{
		color: var(--accent)
	}
	.menu-show ul{
		height: calc(48*5px);
	}
	.hamburger-icon {
		width: 23px;
		position: absolute;
		top: 14px;
		left: 14px;
		transform: rotate(0deg);
		transition: .5s ease-in-out;
		cursor: pointer;
	}
	.hamburger-icon span {
		display: block;
		position: absolute;
		height: 3px;
		width: 100%;
		border-radius: 3px;
		background: var(--light);
		opacity: 1;
		left: 0;
		transition: .3s ease-in-out;
	}
	.hamburger-icon span:nth-child(1) {
		top: 0px;
	}
	.hamburger-icon span:nth-child(2), .hamburger-icon span:nth-child(3) {
		top: 8px;
	}
	.hamburger-icon span:nth-child(4) {
		top: 16px;
	}
	.hamburger-icon.open span:nth-child(1) {
		top: 9px;
		width: 0%;
		left: 50%;
	}
	.hamburger-icon.open span:nth-child(2) {
		transform: rotate(45deg);
	}
	.hamburger-icon.open span:nth-child(3) {
		transform: rotate(-45deg);
	}
	.hamburger-icon.open span:nth-child(4) {
		top: 9px;
		width: 0%;
		left: 50%;
	}
	.login {
		margin: 0;
	}
	
	.tooltip a{
		width: 25px;
	}
	
	.tooltip a i{
		opacity: 1;
	}
}

@media(max-width: 740px) {
	.group-info-wrapper {
		grid-template-areas: 
			"group-info group-info group-info group-info"
			"group-post-creator group-post-creator group-post-creator group-post-creator"
	}
	.login {
		grid-column: 1/5;
	}
	.error-wrapper img {
		width: 38vw;
	}

}

@media(max-width: 550px) {
	footer {
		grid-template-columns: repeat(1, minmax(200px, 1fr));
		padding: .7rem 0 0;
	}
	.top-container-double {
		grid-template-columns: 1fr;
	}
	.footer-info {
		flex-direction: column;
		background-color: #181818;
		padding-bottom: .7rem;
	}
	.footer-copy {
		flex-direction: column;
		text-align: center;
		line-height: 2rem;
		margin-right: 0;
	}
	.footer-lang {
		margin-top: 10px;
		justify-content: center;
	}
	.footer-lang a{
		justify-content: center;
	}
	.footer-lang a img{
		width: 40px;
	}
	.footer-shortcut-container {
		grid-template-columns: repeat(1, minmax(200px, 400px));
		padding-bottom: 20px;
	}
}

@media(max-width: 500px) {
	.wrapper {
		padding: 0 10px;
	}
	.boxes {
		grid-template-columns: 1fr;
	}
	.showcase {
		padding: 20px;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.showcase h1 {
		font-size: 1.8rem;
	}
	.showcase p {
		font-size: 1rem;
	}
	.search-index {
		overflow: hidden
	}
	.aboutUs {
		grid-template-columns: 1fr;
		overflow: hidden;
		white-space: nowrap
	}
	.aboutUs p {
		white-space: normal
	}
	.login form p {
		padding: 0 10px;
	}
}